:root {
	--header-height: 5rem;
}

body {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: var(--header-height) 1fr;
	grid-template-areas:
		'header header'
		'sidenav main';
	min-height: 100vh;
	overflow-y: auto;
	background-color: white;
}

#web-header {
	z-index: 1;
	top: 0;
	position: sticky;
	grid-area: header;

	> .sidenav-toggler {
		display: none;
		border: 1px solid #fff;
		padding: 0.3rem;
		border-radius: 5px;
		margin-right: 1rem;
		cursor: pointer;

		&.sidenav-toggler:hover {
			background-color: var(--color-ctd-azul-01);
			filter: brightness(1.3);
		}
	}
}

#web-sidenav {
	z-index: 1;
	top: calc(var(--header-height));
	align-self: start;
	position: sticky;
	grid-area: sidenav;
	height: calc(100vh - var(--header-height));
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: rgba(206, 148, 148, 0.2) transparent;
}

#web-main {
	grid-area: main;
}

@media (max-width: 900px) {
	body {
		grid-template-areas:
			'sidenav header'
			'main main';
	}

	#web-sidenav {
		position: fixed;
		display: none;
		&.open {
			display: block;
		}
	}

	#web-header {
		> .sidenav-toggler {
			display: inline-block;
		}
	}
}
